/* ----------------- Temp ----------------- */
/* div {
  border: lightgrey solid 0.2px;
} */

.row {
  /* min-height: 200px; */
}

/* ---------------------------------------- */

.time {
  width: 100px;
}

.save {
  width: 50px;
}

.card-footer {
  padding: 0;
  height: 1.5rem;
}

.table {
  font-size: 0.6rem;
}

.table th {
  padding: 5px;
}

.table td {
  padding: 3px;
  text-align: left;
}

td span {
  padding-right: 5px;
}
