/* ----------------- Temp ----------------- */

/* ---------------------------------------- */

/* ----------------- Global ----------------- */
h1 {
  text-align: center;
}

.card-header {
  color: #0c5460;
}

.card-footer {
  padding: 0;
  height: 1.5rem;
}

.card-header {
  background-color: #d1ecf1;
  font-weight: bold;
}

/* ----------------- Month View ----------------- */
#year,
#month {
  font-weight: bold;
}

.table {
  font-size: 0.6rem;
}

.table th {
  padding: 5px;
}

.table td {
  padding: 3px;
  text-align: left;
  height: 69px;
}

td span {
  padding-right: 5px;
}

.date {
  font-size: 0.75rem;
}

.date span {
  padding-left: 5px;
  padding-right: 5px;
}

th {
  font-size: 12px;
}

.dayNum {
  font-size: 8px;
  text-align: center;
  font-weight: bold;
  color: #0c5460;
  width: 50px;
  height: 14px;
  background-color: #d1ecf1;
  padding: 1px;
  margin-bottom: 2px;
  border-radius: 4px;
}

.dayText {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  color: white;
  width: 50px;
  height: 18px;
  background-color: #17a2b8;
  padding: 1px;
  margin-bottom: 2px;
  border-radius: 4px;
}

/* ----------------- Daily Planner ----------------- */
#dayDate {
  background-color: #d1ecf1 !important;
  font-weight: bold;
}

.time {
  min-width: 100px;
}

.save {
  width: 50px;
}
