/* ----------------- Temp ----------------- */
/* div {
  border: lightgrey solid 0.2px;
} */

.row {
  /* min-height: 200px; */
}

/* ---------------------------------------- */

.time {
  width: 100px;
}

.save {
  width: 50px;
}
